# Paths
BASE_DIR=/opt/docker
BASE_NODE=traefik

# Traefik
PORT_LETSENCRYPT_CHALLENGES=80
MAIL_LETSENCRYPT_USER_LOCAL=foo@example.org
TRAEFIK_DASHBOARD_HOST=traefik.example.org

# admin:admin
TRAEFIK_DASHBOARD_AUTH=admin:$$2y$$05$$2NOHn/nOqCiDHWqrRQUZ.uCTSA9OlrivDDNECU3k3iU6.NInkKl/G
# you must generate definitely YOUR own
IONOS_API_KEY=abc123:xyz456

# Whoami
WHOAMI_REPLICAS=0
WHOAMI_ENABLED=false

# Nginx-Services
NGINX1=nginx-foo1  # Ersetzt foo1
NGINX2=nginx-foo2  # Ersetzt foo2
NGINX3=nginx-foo3  # Ersetzt foo3

# Nginx-Container Hosts
NGINX1_HOST=foo1.example.org
NGINX2_HOST=foo2.example.org
NGINX3_HOST=foo3.example.org

# Nginx Container starten (=1) oder nicht starten (=0)
NGINX1_REPLICAS=1
NGINX2_REPLICAS=1
NGINX3_REPLICAS=0
